[submodule ".vim/bundle/solarized"]
	path = .vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/SimpylFold"]
	path = .vim/bundle/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule ".vim/bundle/pythoncomplete"]
	path = .vim/bundle/pythoncomplete
	url = git://github.com/vim-scripts/pythoncomplete.git
[submodule ".vim/bundle/gundo"]
	path = .vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule ".vim/bundle/asyncfinder"]
	path = .vim/bundle/asyncfinder
	url = git://github.com/vim-scripts/asyncfinder.vim.git
[submodule ".bash_additions/z"]
	path = .bash_additions/z
	url = git://github.com/rupa/z.git
[submodule ".vim/bundle/TagBar"]
	path = .vim/bundle/TagBar
	url = git://github.com/vim-scripts/Tagbar.git
[submodule ".vim/bundle/TaskList"]
	path = .vim/bundle/TaskList
	url = git://github.com/vim-scripts/TaskList.vim.git
