[include]
  path = ~/.gitconfig.local

[help]
  autocorrect = 1

[alias]
  ds = diff --staged      # git ds - diff your staged changes == review before committing.
  st = status -sb         # smarter status - include tag and branch info
  fup = log --since '1 day ago' --oneline  # I know what you did yesterday - great for follow-ups
  # pretty one-line log with tags, branches and authors
  ls = log --pretty=format:"%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]" --decorate --date=short
  # a verbose ls, shows changed files too
  lsv = log --pretty=format:"%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]" --decorate --date=short --numstat
  prb = pull --rebase # Pull new Commits and rebase local ones on top

  # some resets without explanation
  r = reset
  r1 = reset HEAD^
  r2 = reset HEAD^^
  rh = reset --hard
  rh1 = reset HEAD^ --hard
  rh2 = reset HEAD^^ --hard

  # basic shortcuts
  cp = cherry-pick
  cl = clone
  ci = commit
  co = checkout
  br = branch
  diff = diff --word-diff
  dc = diff --cached

  # stash shortcuts
  sl = stash list
  sa = stash apply
  ss = stash save

  # log related - thanks to @mwd410
  l = log
  lh = log --graph
  la = !git lh --date-order --all 2> /dev/null
  lb = log --graph --simplify-by-decoration
  lba = !git lb --all
  h = !git --no-pager log --graph -n 15
  a = !git --no-pager la -n 15

[push]
	default = simple

[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
