*.swp
.emacs.d/*
!.emacs.d/init.el
.config/systemd/user/default.target.wants/
bin/go_appengine/
bin/*
vim/.vim/.netrwhist
vim/.vim/swap/*
vim/.vim/plugged/*
mpd/.mpd/database
mpd/.mpd/log
mpd/.mpd/pid
mpd/.mpd/state
mpd/.mpd/sticker.sql
mpd/.ncmpcpp/error.log
