[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".janus/vim-airline"]
	path = .janus/vim-airline
	url = https://github.com/bling/vim-airline.git
